.about__section {
	background-color: var(--beige);
}

.about__section .about__section_container .about__section_img {
	width: 100%;
	margin-block: 1rem;
}

.about__section .about__section_container .about__section_img img {
	width: 100%;
	height: auto;
}

.about__section .col h3 {
	padding-block: 1rem;
	text-align: center;
	color: var(--blue);
}

.about__section .about__section_container .about__section_info p {
	color: var(--blue);
	text-align: center;
}
