.about__section {
	background-color: var(--beige);
}

.about__section .col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about__section .about__section_container .about__section_img {
	width: 100%;
	margin-block: 1rem;
}

.about__section .about__section_container .about__section_img img {
	width: 100%;
	height: auto;
}

.about__section .col h3,
.skills__section .col h3,
.projects__section .col h3,
.otherProjects__section h3 {
	padding-block: 2rem;
	color: var(--blue);
	font-weight: bold;
	position: relative;
	z-index: 2;
}

.about__section .col h3::before,
.skills__section .col h3::before,
.projects__section .col h3::before,
.otherProjects__section .col h3::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 12px;
	left: 0;
	bottom: 2.2rem;
	background-color: var(--orange);
	z-index: -1;
}

.about__section .about__section_container .about__section_info p {
	color: var(--blue);
	text-align: center;
}

@media (min-width: 48em) {
	.about__section .col {
		justify-content: space-around;
		padding-block: 2rem;
	}

	.about__section .col h3 {
		padding-block: 1.5rem;
	}

	.about__section .col h3::before {
		bottom: 1.6rem;
	}

	.about__section .about__section_container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.about__section .about__section_container .about__section_info {
		width: 420px;
	}

	.about__section .about__section_container .about__section_img {
		width: 300px;
	}
}

@media (min-width: 64em) {
	.about__section .about__section_container .about__section_img {
		width: 400px;
	}

	.about__section .about__section_container .about__section_info {
		width: 600px;
		line-height: 1.5rem;
	}
}

@media (min-width: 86em) {
	.about__section .about__section_container {
		width: 100%;
		justify-content: space-around;
	}
}
