:root {
	--orange: #ec994b;
	--gray: #73777b;
	--blue: #15133c;
	--beige: #f1eee9;

	--body-font: "Montserrat", sans-serif;
	--heading-font: "Libre Baskerville", serif;
}

body {
	margin: 0;
	font-family: var(--body-font);
	font-size: 15px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero__background {
	background-color: var(--blue);
	color: var(--beige);
}
